@model ClubVm

<div class="card mb-3" id="kurs_@Model.Id" style="border-radius: 20px;max-width: 75vw;">
    <div class="row">
        <div class="col-md-3">
            <div class="roundedImg setImg">
                <img src="~/img/@Model.ClubPhoto" class="img-fluid" alt="" style="height:100%">
            </div>

        </div>
        <div class="col-md-9">
            <div class="card-body">
                    <h5 class="card-title" style="font-size:1.5rem">@Model.ClubName.ToUpper()</h5>
                <p class="card-text" style="margin:1rem 0px 1.5rem 0px">@Model.ClubSummary</p>
                <div class="d-flex align-items-center justify-content-between mt-5">
                    <a class="remove-underline btn btn-outline-primary" asp-controller="clubs" asp-action="details" asp-route-id="@Model.Id">Detaylar</a>
                    <p class="p-text">@Model.CreatedDate.ToString("dd.MM.yyyy")</p>

                </div>

            </div>
        </div>
    </div>
</div>

