<nav class="navbar bg-primary navbar-dark navbar-expand-sm">

    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">University Club App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="container">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a href="/account/logout" class="nav-link text-white"><i class="fa-solid fa-right-from-bracket"></i></a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="Clubs" class="nav-link text-white">Kulüpler</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a href="/account/manage" class="nav-link">  </a>
                    </li>
                    <li class="nav-item">
                        <a href="/account/logout" class="nav-link text-white"><i class="fa-solid fa-right-from-bracket"></i></a>
                    </li>

                    <li class="nav-item">
                        <a href="/account/login" class="nav-link text-white">Giriş Yap</a>
                    </li>

                    <li class="nav-item">
                        <a href="/account/signup" class="nav-link text-white">Kayıt Ol</a>
                    </li>


                </ul>
            </div>
        </div>
      



    </div>
</nav>
