@model CreateClubVm
<h1 class="h3">Create Club</h1>
<hr />

@if (ViewData["Errors"] != null)
{
    <div class="alert alert-danger">
        @foreach(var error in (List<string>) ViewData["Errors"])
        {
            <p>@error</p>
        }
    </div>
}
<form method="post" asp-action="CreateClub" asp-controller="Admin" enctype="multipart/form-data">
    <div class="row">

        <div asp-validation-summary="All" class="text-danger">
        </div>

        <div class="col-md-8">
            <div class="mb-3 row">
                <label asp-for="ClubName" class="col-sm-2 col-form-label">Kulüp Adı</label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="ClubName" />
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="ClubSummary" class="col-sm-2 col-form-label">Kulüp Özeti</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="4" asp-for="ClubSummary"> </textarea>
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="ClubPhoto" class="col-sm-2 col-form-label">Kulüp Resmi</label>
                <div class="col-sm-10">
                    <input type="hidden" asp-for="ClubPhoto" />
                    <input type="file" name="file" />
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <h3>Categories</h3>
            <hr />

            @foreach (var category in (List<CategoryVm>)ViewBag.Categories)
            {
                <div class="custom-control custom-checkbox">

                    <input type="checkbox" class="custom-control-input" id="category_@(category.Id)"
                           name="Categories"
                           value="@category.Id">

                    <label class="custom-control-label" for="category_@(category.Id)"> @category.CategoryName </label>
                </div>
            }

            <hr class="mt-4" />
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="" asp-for="IsClubActive">

                <label class="form-check-label" asp-for="IsClubActive">Kulüp Aktif/Pasif</label>
            </div>
        </div>

    </div>
</form>