@{
    ViewData["Title"] = "Home Page";
}

@section Css {
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
}

@section Jumbotron{
    <partial name="PartialViews/_HeaderPartial" />
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@* <vc:categories></vc:categories> *@