@model List<CategoryVm>

<div class="list-group accordion-header" style="border-radius:20px">

    <a asp-action="List" asp-controller="Categories" asp-route-categories="" class="list-group-item list-group-item-action">TÜM KATEGORİLER</a>

    @foreach (var category in Model)
    {
        <a asp-action="List" asp-controller="Categories" asp-route-categories="#"
           class="list-group-item d-flex justify-content-between align-items-center">
            @category.CategoryName.ToUpper()
        </a>
    }
</div>

@* @foreach (var category in Model)
{
    <a asp-action="List" asp-controller="Shop" asp-route-category="@category.Url"
       class="list-group-item list-group-item-action
           @(ViewBag.SelectedCategory == category.Url ? "active":"")">
        @category.Name
    </a>
} *@