@model CreateUserVm

<h3 class="h1 text-center my-4">Sign Up</h3>
<hr />

<form method="post" asp-action="SignUp" asp-controller="Authentication">
    <div class="row">

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="col-md-8">
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Full Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" asp-for="FullName" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" asp-for="UserName" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">E-mail</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">University</label>
                <div class="col-sm-10">
                    <select asp-for="UniversityId" asp-items="@ViewBag.Universities" class="form-control">
                        <option selected disabled>Select Your University</option>
                    </select>
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="Password" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input class="form-control" type="password" asp-for="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-success">Sign up</button>
                </div>
            </div>
        </div>

    </div>
</form>
