@using System.Text.Json
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GraduateThesis.WEB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GraduateThesis.WEB.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Css", required: false)
</head>
<body>
    <header>

        <partial name="PartialViews/_NavbarPartial" />



        @if (IsSectionDefined("Jumbotron"))
        {
            @await RenderSectionAsync("Jumbotron", required: false)
        }

    </header>

    <main role="main" class="pb-3">

        <div class="container" style="margin-bottom:6rem;">
            <div class="row mt-4">
                <div class="col-md-12">
                    @* Admin Controller dan gelen kategori ve ürün için ekleme, silme, güncelleme mesajları *@
                    @if (TempData["Message"] != null)
                    {
                        var alertMessage = JsonSerializer.Deserialize<AlertMessage>(TempData["Message"].ToString());

                        <div class="row alert_box">
                            <div class="col-md-12">

                                <div class="alert alert-@alertMessage?.AlertType">
                                    @foreach (var message in alertMessage?.MessageList)
                                    {
                                        <p>@message</p>
                                    }
                                </div>

                            </div>
                        </div>
                    }

                    @RenderBody()

                </div>
            </div>

        </div>
        @* @RenderBody() *@
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - GraduateThesis.WEB - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        setTimeout(() => {
            document.querySelector(".alert_box").style.display = "none";
        }, 3000);
    </script>
</body>
</html>
